[run]
branch = True

[paths]
# Files with these prefixes are treated as identical for the purposes of coverage combine
source =
    # The first path is the name to which all paths get unified
    src/
    # tox on Linux
    .tox/py*/lib/python*/site-packages/
    # tox on Windows
    .tox/py*/Lib/site-packages/
