# For information about this file, see: https://editorconfig.org/
root = true

# For ease of fitting multiple editor panes side by side consistently, set all files types to use
# the same relaxed max line length permitted in PEP 8.
[*]
max_line_length = 99
