.idea
.mypy_cache
.nox
.pytest_cache
dist
build
htmlcov
site
__pycache__
*.pyc
*.egg-info
.coverage
.coverage.*

temp/


# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
