# Constrain dev-requirements by requirements to avoid clashing requirements.
-c requirements.txt

tox

# Testing.
pytest
pytest-cov

# Type checking.
mypy
# As of mypy 0.900, mypy no longer bundles the stubs for third-party libraries that reside
# in the typeshed project. Add these "types-" packages here if you depend on them in
# requirements.in (e.g. types-requests).
# See: http://mypy-lang.blogspot.com/2021/06/mypy-0900-released.html
#      https://github.com/python/typeshed/tree/master/stubs

# Linting.
flake8
flake8-bugbear
flake8-broken-line
flake8-comprehensions
pep8-naming

# Formatting.
black
isort

# Documentation.
mkdocs-material
mkdocs-htmlproofer-plugin
mkdocstrings
