name: CI

on: [push, pull_request]

permissions:
  contents: read

env:
  UV_VERSION: "0.9.26"

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14", "3.14t" ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        # Caching is enabled by default for GitHub-hosted runners:
        #   https://github.com/astral-sh/setup-uv?tab=readme-ov-file#enable-caching
        with:
          version: ${{ env.UV_VERSION }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Nox
        run: uv sync --locked --only-group nox

      - name: Test with Nox
        run: uv run nox -s test-${{ matrix.python-version }}

  quality:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        nox-session: ["lint", "type_check", "docs"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install dependencies
        run: uv sync --locked

      - name: Test with Nox
        run: uv run nox -s ${{ matrix.nox-session }}

  container:
    runs-on: ubuntu-24.04
    steps:
      - name: Validate build configuration
        uses: docker/build-push-action@v6
        with:
          call: check

      - name: Build Container Image
        uses: docker/build-push-action@v6
        with:
          push: false
