# This GitHub Actions job will build the user guide and publish it to the
# gh-pages branch each time the main branch is updated. This branch is
# configured to be served automatically using GitHub Pages.
name: pages

on:
  push:
    branches: [main]

env:
  UV_VERSION: "0.9.26"

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install dependencies
        run: uv sync --locked

      - name: Publish Docs
        run: uv run nox -s docs_github_pages
