# This GitHub Actions job will build the user guide and publish it to the
# gh-pages branch each time the main branch is updated. This branch is
# configured to be served automatically using GitHub Pages.
name: pages

on:
  push:
    branches: [main]

env:
  POETRY_VERSION: "2.0.0"
  PYTHON_VERSION: "3.11"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry==${POETRY_VERSION}
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: poetry
      - name: Install Nox and doc dependencies
        run: poetry install --only nox,docs
      - name: Publish Docs
        run: poetry run nox -s docs_github_pages
