name: python

on: [push, pull_request]

jobs:
  nox:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.8", "3.9", "3.10" ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      - name: Install Poetry
        run: pipx install poetry
      - name: Install all dependencies, including Nox
        run: poetry install --no-root
        env:
          POETRY_VIRTUALENVS_CREATE: false
      - name: Test with Nox
        run: nox
